<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="https://pages-themes.github.io/cayman/assets/css/style.css">
  </head>
  <body>
    <nav style="background:#159957; padding:12px; text-align:center;">
      <a href="/JordanG/" style="color:white; margin:0 15px; text-decoration:none; font-weight:bold;">Home</a>
      <a href="/JordanG/about.html" style="color:white; margin:0 15px; text-decoration:none; font-weight:bold;">About</a>
      <a href="/JordanG/projects.html" style="color:white; margin:0 15px; text-decoration:none; font-weight:bold;">Projects</a>
      <a href="/JordanG/contact.html" style="color:white; margin:0 15px; text-decoration:none; font-weight:bold;">Contact</a>
    </nav>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>
  </body>
</html>
